/* Our CSS file. */


.container {
width: 100%;
height: auto;
border: 30px solid gray;
background-color: gray;
}

.row{
    display:block;
    height:100px;
    width:90%;
    margin:10px;
   
}

.col{
    display:inline-block;
    height:inherit;
    width:45%;
    margin:10px;
    border: 10px red;
   
}
